<!doctype html>
<html lang="en">
    <%- include("./partials/head.ejs", { styles: "index.css", title: "Members Only" }) %>
    <body>
        <%- include("./partials/header.ejs") %>
        <main></main>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>
