
<!doctype html>
<html lang="en">
    <%- include("./partials/head.ejs", { styles: ["form.css"], title: "Members Only" }) %>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <section class="form-container">
                <h1>Sign up</h1>
                <form action="/sign-up" method="POST" class="form">
                    <div>
                        <label for="username">Username *</label>
                        <input type="text" name="username" id="username" maxlength="8" autocomplete="username" required>
                    </div>
                    <div>
                        <label for="first-name">First name *</label>
                        <input type="text" name="firstName" id="first-name" maxlength="8" autocomplete="given-name" autocapitalize="on" required>
                    </div>
                    <div>
                        <label for="last-name">Last name *</label>
                        <input type="text" name="lastName" id="last-name" maxlength="8" autocomplete="family-name" autocapitalize="on" required>
                    </div>
                    <div>
                        <label for="password">Password *</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div>
                        <label for="confirm-password">Confirm password *</label>
                        <input type="password" name="confirmPassword" id="confirm-password" required>
                    </div>
                    <div>
                        <label for="admin-password">Admin password</label>
                        <input type="password" name="adminPassword" id="admin-password">
                    </div>
                    <button type="submit" class="btn">Sign up</button>
                    <p>
                        Already have an account? <a href="/log-in">Log in</a>
                    </p>
                </form>
            </section>
        </main>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>
