.club {
    display: grid;
    grid-template-rows: min-content 1fr;
    border: var(--border);
    border-radius: 10px;
}

.club-head,
.club-body {
    padding: 15px;
}

.club-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #fafafa;
    border-bottom: var(--border);
}

.club-head > div > a {
    color: var(--main-theme);
    font-weight: 500;
    font-size: 1.2rem;
}

.club-head > div > a:hover {
    text-decoration: underline;
}

.club-head > form > button {
    padding: 5px;
    background-color: #fafafa;
}

.club-head > form > button > img {
    width: 20px;
}

.club-body {
    overflow-x: hidden;
}

.club-body > p {
    color: var(--paragraph);
    max-height: 100px;
    overflow-y: auto;
}
