main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 20px;
    border: var(--border);
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--heading);
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form > button {
    background-color: var(--main-theme);
    color: white;
    box-shadow: var(--button-shadow);
}

label {
    color: #52525b;
}

input,
textarea {
    border: var(--border);
    border-radius: 10px;
    padding: 5px;
    outline-color: var(--main-theme);
    background-color: #fafafa;
    resize: vertical;
}

.errors {
    color: var(--red);
}

p {
    text-align: center;
}

.form > p > a {
    color: var(--main-theme);
    font-weight: 600;
}

.form > p > a:hover {
    text-decoration: underline;
}
