main {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 40px;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
}

.container > :first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: var(--border);
    padding-bottom: 10px;
}

.clubs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

h1,
h2 {
    color: var(--heading);
}

h2 {
    font-size: 1.4rem;
}

.nothing > section > p {
    color: var(--paragraph);
}

.container > :first-child > a {
    border: var(--border);
    background-color: var(--button-light);
}

.container > :first-child > a > div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.1rem;
}

.club {
    display: grid;
    grid-template-rows: min-content 1fr;
    border: var(--border);
    border-radius: 10px;
}

.club-head,
.club-body {
    padding: 15px;
}

.club-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #fafafa;
    border-bottom: var(--border);
}

.club-head > div > a {
    color: var(--main-theme);
    font-weight: 500;
    font-size: 1.2rem;
}

.club-head > div > a:hover {
    text-decoration: underline;
}

.club-head > form > button {
    padding: 5px;
    background-color: #fafafa;
}

.club-head > form > button > img {
    width: 20px;
}

.club-body {
    overflow-x: hidden;
}

.club-body > p {
    color: var(--paragraph);
    max-height: 100px;
    overflow-y: auto;
}
