:root {
    --border: 1px solid #e4e4e7;
    --main-theme: #5b21b6;
    --button-light: #fafafa;
    --heading: #27272a;
    --paragraph: #71717a;
    --button-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    --red: #b91c1c;
    --button-red: #fef2f2;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    font-family: system-ui, sans-serif;
}

header,
main,
footer {
    padding: 20px;
}

header {
    position: sticky;
    top: 0;
    height: min-content;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: var(--border);
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

:any-link {
    color: unset;
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo > a > span {
    color: var(--main-theme);
}

nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
}

form[action="/log-out"] > button {
    background-color: var(--button-red);
    color: var(--red);
    border: var(--border);
    border-color: var(--red);
}

.nav-item > a[href="/log-in"] {
    background-color: var(--button-light);
    border: var(--border);
}

.nav-item > a[href="/sign-up"] {
    background-color: var(--main-theme);
    color: white;
    box-shadow: var(--button-shadow);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

footer > :last-child {
    transition: transform 200ms;
}

footer > :last-child:hover {
    transform: scale(1.2);
}

/* General classes */
.btn {
    display: block;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    filter: brightness(0.9);
    cursor: pointer;
}
